@{
    ViewData["Title"] = "Asistencia a Ensayos";
}

@section Styles {
    <link rel="stylesheet" href="~/css/CSSUsuarioBailarin/PantallaAsistenciaEnsayos.css" />
}


<header class="header">
    <div class="logo-container">
        <img src="/Img/UsuarioBailarin/Logo.png" alt="Logo Ballet Alianza Folklórica" class="logo">
    </div>
    <div class="title-container">
        <a asp-action="PantallaHomeBailarin" asp-controller="UsuarioBailarin" id="back-button">
            <span class="title-box">HOME</span>
        </a>
    </div>
    <div class="user-container">
        <span class="user-box">Usuario</span>
    </div>
</header>

<main>
    <section class="intro text-center py-4">
        <h1>ASISTENCIA A ENSAYOS</h1>
        <p>
            Historial de ensayos Eventos
        </p>
    </section>

    <section class="table-container">
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th>Ensayo</th>
                    <th>Fecha</th>
                    <th>Hora</th>
                    <th>Lugar</th>
                    <th>Asistencia</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>xxxxx</td>
                    <td>xxxx</td>
                    <td>xxxx</td>
                    <td>xxxx</td>
                    <td>xxxx</td>

                </tr>
                <tr>
                    <td>xxxxx</td>
                    <td>xxxx</td>
                    <td>xxxx</td>
                    <td>xxxx</td>
                    <td>xxxx</td>

                </tr>
                <tr>
                    <td>xxxxx</td>
                    <td>xxxx</td>
                    <td>xxxx</td>
                    <td>xxxx</td>
                    <td>xxxx</td>

                </tr>
            </tbody>
        </table>
    </section>
</main>
