@{
    ViewData["Title"] = "Asistencia a Ensayos";
}

@section Styles {
    <link rel="stylesheet" href="~/css/CSSUsuarioBailarin/PantallaAsistenciaEnsayos.css" />
}


<header class="header"> 
    <div class="header-content">
        <img src="~/Img/UsuarioBailarin/Logo.png" alt="Logo BAF" class="logo">
        <nav>
            <a href="@Url.Action("PantallaHomeBailarin", "UsuarioBailarin")" class="nav-link">Home</a>
        </nav>
        <div class="user-info">
            <span>Nombre del Usuario</span>
        </div>
    </div>
</header>

<main>
    <section class="intro text-center py-4">
        <h1>ASISTENCIA A ENSAYOS</h1>
        <p>
            En este apartado los bailarines tendrán la lista de eventos, que será como un formulario, donde el bailarín podrá
            confirmar su asistencia a los eventos que puedan durante la temporada.
        </p>
    </section>

    <section class="table-container">
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th>Ensayo</th>
                    <th>Fecha</th>
                    <th>Hora</th>
                    <th>Lugar</th>
                    <th>Acciones</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>xxxxx</td>
                    <td>xxxx</td>
                    <td>xxxx</td>
                    <td>xxxx</td>
                    <td>
                        <button class="btn btn-asist">Asisto</button>
                        <button class="btn btn-no-asist">No Asisto</button>
                    </td>
                </tr>
                <tr>
                    <td>xxxxx</td>
                    <td>xxxx</td>
                    <td>xxxx</td>
                    <td>xxxx</td>
                    <td>
                        <button class="btn btn-asist">Asisto</button>
                        <button class="btn btn-no-asist">No Asisto</button>
                    </td>
                </tr>
                <tr>
                    <td>xxxxx</td>
                    <td>xxxx</td>
                    <td>xxxx</td>
                    <td>xxxx</td>
                    <td>
                        <button class="btn btn-asist">Asisto</button>
                        <button class="btn btn-no-asist">No Asisto</button>
                    </td>
                </tr>
            </tbody>
        </table>
    </section>
</main>
