@{
    ViewData["Title"] = "Agregar Evento";
}

<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Agregar Evento</title>
    <link rel="stylesheet" href="@Url.Content("~/css/CSSUsuarioAdministrador/crud.css")" />
</head>
<body>
    <header class="header">
        <img src="@Url.Content("../img/UsuarioAdministrador/LogoOF.JPG")" alt="Usuario Administrador" width="150" height="150" />

        <div class="search-container">
            <a href="" id="editor" aria-label="Editor de información">Editor de información:</a>
        </div>

        <a href="/login" class="login-button" aria-label="Nombre del usuario-administrador">Nombre del usuario-administrador</a>
    </header>

    <hr>

    <nav class="sidebar" aria-label="Menú de navegación">
        <div class="info-box">
            <div class="button-container">
                <img src="LogoOF.JPG" alt="Logo de la organización" width="100" height="100">
                <a href="" class="button">Home</a>
                <a href="" class="button">Iniciar sesión</a>
            </div>
            <hr id="hr1">
            <div class="event-container">
                <table>
                    <tr>
                        <th></th>
                        <th></th>
                    </tr>
                    <tr>
                        <td></td>
                        <td>
                            <a href="#" class="modify-button">Modificar evento</a>
                            <a href="#" class="delete-button">Eliminar evento</a>
                        </td>
                    </tr>
                    <tr>
                        <td></td>
                        <td>
                            <a href="#" class="modify-button">Modificar evento</a>
                            <a href="#" class="delete-button">Eliminar evento</a>
                        </td>
                    </tr>
                    <tr>
                        <td></td>
                        <td>
                            <a href="#" class="modify-button">Modificar evento</a>
                            <a href="#" class="delete-button">Eliminar evento</a>
                        </td>
                    </tr>
                    <tr>
                        <td></td>
                        <td>
                            <a href="#" class="modify-button">Modificar evento</a>
                            <a href="#" class="delete-button">Eliminar evento</a>
                        </td>
                    </tr>
                </table>
            </div>
        </div>
        <div class="menu">
            <a href="acerca.cshtml">Acerca de nosotros</a>
            <a href="portafolio.cshtml" class="active">Portafolio</a>
            <a href="estado.cshtml" class="inactive">Eventos del Estado</a>
            <a href="nacional.cshtml" class="inactive">Eventos Nacionales </a>
            <a href="internacional.cshtml" class="inactive">Eventos Internacionales</a>
            <a href="agregar_evento.cshtml" class="position">Agregar Nuevos Eventos</a>
            <a href="cuentas.cshtml">Cuentas</a>
            <a href="contactanos.cshtml">Contáctanos</a>
            <a href="carrusel.cshtml">Carrusel</a>
            <a href="audiciones.cshtml">Audiciones</a>
            <a href="eventos.cshtml">Eventos</a>
            <a href="ensayos.cshtml">Ensayos</a>
            <a href="registro.cshtml">Registro de Asistencias</a>
            <a href="reporte.cshtml">Reporte</a>
        </div>
    </nav>

</body>
</html>

