@{
    ViewData["Title"] = "Nuestro Equipo";
}

<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Nuestro Equipo</title>
    <link rel="stylesheet" href="@Url.Content("~/css/CSSUsuarioAdministrador/crud.css")" />
</head>
<body>
    <header class="header">
        <img src="@Url.Content("../img/UsuarioAdministrador/LogoOF.JPG")" alt="Usuario Administrador" width="150" height="150" />

        <div class="search-container">
            <a href="" id="editor" aria-label="Editor de información">Editor de información:</a>
        </div>

        <a href="/login" class="login-button" aria-label="Nombre del usuario-administrador">Nombre del usuario-administrador</a>
    </header>

    <hr>

    <nav class="sidebar" aria-label="Menú de navegación">
        <div class="info-box">
            <div class="button-container">
                <img src="@Url.Content("../img/UsuarioAdministrador/LogoOF.JPG")" alt="Usuario Administrador" width="100" height="100" />
                <a href="home.html" class="button">Home</a>
                <a href="iniciar_sesion.html" class="button">Iniciar sesión</a>
            </div>
            <hr id="hr1">
        </div>
        <div class="menu">
            <a asp-action="acerca" asp-controller="UsuarioAdministrador" class="active">Acerca de nosotros</a>
            <a asp-action="historia" asp-controller="UsuarioAdministrador" class="inactive">Historia</a>
            <a asp-action="mision" asp-controller="UsuarioAdministrador" class="inactive">Misión</a>
            <a asp-action="nuestro_equipo" asp-controller="UsuarioAdministrador" class="position">Nuestro Equipo</a>
            <a asp-action="portafolio" asp-controller="UsuarioAdministrador">Portafolio</a>
            <a asp-action="cuentas" asp-controller="UsuarioAdministrador">Cuentas</a>
            <a asp-action="contactanos" asp-controller="UsuarioAdministrador">Contáctanos</a>
            <a asp-action="carrusel" asp-controller="UsuarioAdministrador">Carrusel</a>
            <a asp-action="audiciones" asp-controller="UsuarioAdministrador">Audiciones</a>
            <a asp-action="eventos" asp-controller="UsuarioAdministrador">Eventos</a>
            <a asp-action="ensayos" asp-controller="UsuarioAdministrador">Ensayos</a>
            <a asp-action="registro" asp-controller="UsuarioAdministrador">Registro de Asistencias</a>
            <a asp-action="reporte" asp-controller="UsuarioAdministrador">Reporte</a>
        </div>
    </nav>
</body>
</html>

