@{
    ViewData["Title"] = "Registro de Cuentas";
}

<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registro de Cuentas</title>
    <link rel="stylesheet" href="@Url.Content("~/css/CSSUsuarioAdministrador/crud.css")" />
</head>
<body>
    <header class="header">
        <img src="@Url.Content("../img/UsuarioAdministrador/LogoOF.JPG")" alt="Usuario Administrador" width="150" height="150" />

        <div class="search-container">
            <a href="" id="editor" aria-label="Editor de información">Editor de información:</a>
        </div>

        <a href="/login" class="login-button" aria-label="Nombre del usuario-administrador">Nombre del usuario-administrador</a>
    </header>

    <hr>

    <nav class="sidebar" aria-label="Menú de navegación">
        <div class="info-box">
            <div class="event-container">
                <table>
                    <tr>
                        <th></th>
                        <th></th>
                        <th></th>
                        <th></th>
                        <th></th>
                    </tr>
                    <tr>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td>
                            <a href="#" class="modify-button">Editar detalles</a>
                        </td>
                    </tr>
                    <tr>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td>
                            <a href="#" class="modify-button">Editar detalles</a>
                        </td>
                    </tr>
                    <tr>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td>
                            <a href="#" class="modify-button">Editar detalles</a>
                        </td>
                    </tr>
                    <tr>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td>
                            <a href="#" class="modify-button">Editar detalles</a>
                        </td>
                    </tr>
                </table>
            </div>
        </div>
        <div class="menu">
            <a asp-action="acerca" asp-controller="UsuarioAdministrador">Acerca de nosotros</a>
            <a asp-action="portafolio" asp-controller="UsuarioAdministrador">Portafolio</a>
            <a asp-action="cuentas" asp-controller="UsuarioAdministrador" class="active">Cuentas</a>
            <a asp-action="crear_cuentas" asp-controller="UsuarioAdministrador" class="inactive">Crear Cuentas</a>
            <a asp-action="registro_cuentas" asp-controller="UsuarioAdministrador" class="position">Registro de Cuentas</a>
            <a asp-action="contactanos" asp-controller="UsuarioAdministrador">Contáctanos</a>
            <a asp-action="carrusel" asp-controller="UsuarioAdministrador">Carrusel</a>
            <a asp-action="audiciones" asp-controller="UsuarioAdministrador">Audiciones</a>
            <a asp-action="eventos" asp-controller="UsuarioAdministrador">Eventos</a>
            <a asp-action="ensayos" asp-controller="UsuarioAdministrador">Ensayos</a>
            <a asp-action="registro" asp-controller="UsuarioAdministrador">Registro de Asistencias</a>
            <a asp-action="reporte" asp-controller="UsuarioAdministrador">Reporte</a>
        </div>
    </nav>


</body>
</html>

