@model PIA_PROGRAMACIONWEB.Models.ErrorViewModel

<div>
    <h1 class="text-danger">Error</h1>
    <p class="text-warning">Ha ocurrido un error inesperado.</p>
    @if (Model?.ShowRequestId ?? false)
    {
        <p class="text-muted">Request ID: <code>@Model.RequestId</code></p>
    }
</div>

