@{
    ViewData["Title"] = "BAF Ballet Alianza Folklórica";
}

@section Styles {
    <link rel="stylesheet" href="/css/IndexEstilos.css" />

}

<main class="main-container">
    <!-- Background Image -->
    <div class="background-image">
        <img src="/Img/Fondo.png" alt="Background" class="background-img">
    </div>

    <!-- Logo -->
    <div class="logo-container">
        <img src="/Img/UsuarioBailarin/Logo.png" alt="BAF Logo" class="logo">
    </div>

    <!-- Title -->
    <h1 class="main-title">
        BAF BALLET <br> ALIANZA FOLKLÓRICA
    </h1>

    <!-- Button -->
    <div class="button-container">
        <a href="UsuarioNoRegistrado/Home.cshtml" class="cta-button">VER MAS</a>

    </div>
</main>




