@{
    ViewData["Title"] = "Home";
}


<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/CSSUsuarioNoRegistrado/Home.css" />
    <link rel="stylesheet" href="~/PIA_PROGRAMACIONWEB.styles.css" asp-append-version="true" />
</head>

<body>
    <div class="header">
        <img src="~/Img/UsuarioNoRegistrado/ImgLogo.jpg" alt="LogoOF" width="150" height="150">

        <a href="../UsuarioBailarin/Iniciar-Sesion.html" class="login-button">Iniciar sesión</a>
    </div>

    <div class="dropdown">
        <button class="dropbtn">Acerca de nosotros</button>
        <div class="dropdown-content">
            <a href="Pantalla Historia.html">Historia</a>
            <a href="Pantalla Mision.html">Mision</a>
            <a href="Pantalla Nuestro Equipo.html">Nuestro equipo</a>
        </div>
    </div>

    <div class="dropdown">
        <button class="dropbtn">Portafolio</button>
        <div class="dropdown-content">
            <a href="Pantalla Eventos Estatales.html">Eventos Estatales</a>
            <a href="Pantalla Eventos Nacionales.html">Eventos Nacionales</a>
            <a href="Pantalla Eventos Internacionales.html">Eventos Internacionales</a>
        </div>
    </div>

    <div class="dropdown">
        <button class="dropbtn">Proximos Eventos</button>
        <div class="dropdown-content">
            <a href="Pantalla Proximos Eventos.html">Proximos Eventos</a>
        </div>
    </div>

    <div class="dropdown">
        <button class="dropbtn">Audiciones</button>
        <div class="dropdown-content">
            <a href="Pantalla Audiciones.html">Audiciones</a>
        </div>
    </div>

    <h2 id="frase">
        FRASE ICONICA DEL BALLET
    </h2>

    <hr>

    <div class="container-fluid fixed-bottom p-0 custom-carousel-container">
        <div id="customCarousel" class="carousel slide" data-bs-ride="carousel">
            <div class="carousel-inner">
                <div class="carousel-item active">
                    <div class="row justify-content-center">
                        <div class="col"><img src="~/Img/UsuarioNoRegistrado/Prueba.jpeg" class="d-block custom-carousel-img" alt="..."></div>
                        <div class="col"><img src="~/Img/UsuarioNoRegistrado/Prueba.jpeg" class="d-block custom-carousel-img" alt="..."></div>
                        <div class="col"><img src="~/Img/UsuarioNoRegistrado/Prueba.jpeg" class="d-block custom-carousel-img" alt="..."></div>
                        <div class="col"><img src="~/Img/UsuarioNoRegistrado/Prueba.jpeg" class="d-block custom-carousel-img" alt="..."></div>
                        <div class="col"><img src="~/Img/UsuarioNoRegistrado/Prueba.jpeg" class="d-block custom-carousel-img" alt="..."></div>
                        <div class="col"><img src="~/Img/UsuarioNoRegistrado/Prueba.jpeg" class="d-block custom-carousel-img" alt="..."></div>
                    </div>
                </div>
                <div class="carousel-item">
                    <div class="row justify-content-center">
                        <div class="col"><img src="~/Img/UsuarioNoRegistrado/Prueba.jpeg" class="d-block custom-carousel-img" alt="..."></div>
                        <div class="col"><img src="~/Img/UsuarioNoRegistrado/Prueba.jpeg" class="d-block custom-carousel-img" alt="..."></div>
                        <div class="col"><img src="~/Img/UsuarioNoRegistrado/Prueba.jpeg" class="d-block custom-carousel-img" alt="..."></div>
                        <div class="col"><img src="~/Img/UsuarioNoRegistrado/Prueba.jpeg" class="d-block custom-carousel-img" alt="..."></div>
                        <div class="col"><img src="~/Img/UsuarioNoRegistrado/Prueba.jpeg" class="d-block custom-carousel-img" alt="..."></div>
                        <div class="col"><img src="~/Img/UsuarioNoRegistrado/Prueba.jpeg" class="d-block custom-carousel-img" alt="..."></div>
                    </div>
                </div>
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#customCarousel" data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#customCarousel" data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
            </button>
        </div>
    </div>

    <div class="wide-dropdown">
        <a href="#contact" class="contact-us-button">Contáctanos</a>
        <div class="wide-dropdown-menu">
            <div class="wide-info-grid">
                <div class="info-section" id="section1">
                    <img src="~/Img/UsuarioNoRegistrado/Prueba.jpeg" alt="Imagen 1">
                    <h3>WhatsApp</h3>
                </div>
                <div class="info-section" id="section2">
                    <img src="~/Img/UsuarioNoRegistrado/Prueba.jpeg" alt="Imagen 2">
                    <h3>Instagram</h3>
                </div>
                <div class="info-section" id="section3">
                    <img src="~/Img/UsuarioNoRegistrado/Prueba.jpeg" alt="Imagen 3">
                    <h3>Facebook</h3>
                </div>
                <div class="info-section" id="section4">
                    <img src="~/Img/UsuarioNoRegistrado/Prueba.jpeg" alt="Imagen 4">
                    <h3>TikTok</h3>
                </div>
            </div>
        </div>
    </div>

    <script src="~/js/JSUsuarioNoRegistrado/Home.js"></script>
</body>

</html>