@{
    ViewData["Title"] = "Proximos Eventos";
}


<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/CSSUsuarioNoRegistrado/DiseñodePantallas.css">
    <link rel="stylesheet" href="~/PIA_PROGRAMACIONWEB.styles.css" asp-append-version="true" />
</head>

<body>
    <div class="header">
        <img src="~/Img/UsuarioNoRegistrado/ImgLogo.jpg" alt="LogoOF" width="150" height="150">

        <div class="search-container">
            <button id="back-button">HOME</button>
        </div>

        <a href="../UsuarioBailarin/Iniciar-Sesion.html" class="login-button">Iniciar sesión</a>
    </div>

    <hr>
    <h1 class="historia">PROXIMOS EVENTOS</h1>
    <p class="historia">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Ullam repellendus obcaecati, sequi nesciunt quas eius
        fugit illo libero. Quis unde magnam facere vero soluta,
        voluptatibus quam odio consequatur molestias Lorem ipsum, dolor sit amet consectetur adipisicing elit.
    </p>

    <table>
        <thead>
            <tr>
                <th>EVENTO</th>
                <th>FECHA</th>
                <th>LUGAR</th>
                <th>HORA</th>
                <th>BOLETOS</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>xxxxx</td>
                <td>xxxxx</td>
                <td>xxxxx</td>
                <td>xxxxx</td>
                <td>xxxxx</td>
            </tr>
            <tr>
                <td>xxxxx</td>
                <td>xxxxx</td>
                <td>xxxxx</td>
                <td>xxxxx</td>
                <td>xxxxx</td>
            </tr>
            <tr>
                <td>xxxxx</td>
                <td>xxxxx</td>
                <td>xxxxx</td>
                <td>xxxxx</td>
                <td>xxxxx</td>
            </tr>
        </tbody>
    </table>

    <script src="~/js/JsUsuarioNoRegistrado/Home.js"></script>
</body>

</html>
