body {
    font-family: Arial, sans-serif;
    background-image: url(IMG/ImgFondo.JPG);
    /* Ruta a tu imagen */
    background-size: 150%;
    /* Hace que la imagen sea 1.5 veces más grande */
    background-position: center;
    /* Centra la imagen de fondo */
    background-repeat: no-repeat;
    /* Evita que se repita la imagen */
    background-attachment: fixed;
    /* Fija la imagen de fondo para que no se mueva con el scroll */

    margin: 0;
    /* Elimina los márgenes del body */
    padding: 20px;
    /* Añade un espacio interno alrededor del contenido */
}

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
    /* Agrega un pequeño espacio en los lados */
    width: 100%;
    box-sizing: border-box;
    height: 150px;
    /* Asegura que el header mantenga la altura de la imagen */
    position: relative;
}

/* Estilo del botón de iniciar sesión */
.login-button {
    padding: 10px 20px;
    background-color: white;
    color: black;
    font-size: 16px;
    text-decoration: none; /* Elimina subrayado */
    border-radius: 20px;
    border: 2px solid white;
    transition: background-color 0.3s ease, border-color 0.3s ease;
    margin-right: 0; /* Asegura que esté pegado al borde derecho */
    display: inline-block;
}
